Assignments/lecture_1_samples+/001_fixed_function_pipeline_triangle_example
Assignments/lecture_1_samples+/002_programmable_pipeline_triangle_example_direct
Assignments/lecture_1_samples+/003_programmable_pipeline_triangle_example_direct_moving
Assignments/lecture_1_samples+/004_programmable_pipeline_triangle_example_buffered
Assignments/lecture_1_samples+/005_programmable_pipeline_triangle_example_buffered_moving_uniform
Assignments/lecture_1_samples+/006_programmable_pipeline_triangle_example_external_shaders/_visual_studio/.vs/sample/v17/Browse.VC.opendb
